---
import Layout from '../layouts/BlogPost.astro';
import { Image } from 'astro:assets';
import aboutHeroImage from '../assets/images/blog/trianMuseum.jpeg'; // Move your image here
---

<Layout
	title="About Me"
	description="Learn more about me and my journey"
	pubDate={new Date('August 08 2025')}
	heroImage={aboutHeroImage}
>

<h3>Hello!</h3>
<p>
  Hello! My name is Cristian. I am a U.S. citizen living in Japan and working as an English teacher in the small town of 田子町. As of writing I am 29 years old, and have lived here for almost 3 years.
</p>
  
<h3>Why This Blog?</h3>
<p>
  I have been able to experience some amazing, and not so amazing things since coming here, and I've always wanted to document them in a way that feels more tangible than an Instagram post. Thus, I decided to make this blog. I have studied web development a bit, but when it comes to writing and taking pictures, I'm a complete amateur! So I hope I can keep it interesting.
</p>

<h3>Takko machi
</h3>
<p>
  Like many towns in the Japanese countryside, Takko is slowly dwindling in population. Since coming here the population has already dropped by 10%, and 2 of the remaining 3 elementary schools closed down! I might very well be one of the last English teachers to work here, and foreigners to ever live here.
</p>
  
<h3>My Vision</h3>
<p>
  Inspired by websites like NHK easy, I want to expand this site so that each post has not only a Japanese translation, but a version that is written in very simple English that hopefully even some of my students can read. I also want to make complimentary videos for each post. For now though, I just want to get some posts out there!
</p>
  </div>


</Layout>
