---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="about me description yo"
	pubDate={new Date('August 08 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
about page for my astro hog site. its about time i got around to it.
	</p>

	<p>
second paragraph for the HOG. this a my blog lol 
	</p>


</Layout>
