---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome to Bloggy Doggy!</h1>
			<p>Hello! I'm Cristian, an English teacher living in the small Japanese town of 田子町 (Tagomachi). This blog is where I share my experiences of life in rural Japan.</p>

			<p>I'm building this site to be accessible for English learners, with plans to add Japanese translations and simplified English versions of each post. It's a work in progress!</p>

			<p><a href="/blog">Read my latest posts</a> or <a href="/about">learn more about me</a>.</p>
		</main>
		<Footer />
	</body>
</html>
