---
const { size = "150px", class: className, ...props } = Astro.props;
---

<span class:list={["logo-container", className]} style={`width: ${size}; height: ${size};`} {...props}>
  <svg width="764" height="717" viewBox="0 0 764 717" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g id="logo" stroke="black" stroke-linecap="round">
      
      <path id="Face" d="M385.246 700.5C462.246 697.5 482.18 684.263 535.746 653.5C667.631 641.441 724.759 607.142 746.246 510C763.014 434.192 731.148 376.687 678.746 323C707.807 236.168 709.246 114 697.246 98C671.246 92.5 589.746 133 503.246 209.5C480.71 202.682 467.702 191.426 450.246 173.5C404.234 126.249 405.746 66 414.246 8.5L348.746 52.5C348.746 89 348.132 126.389 322.746 162.5C304.802 188.025 291.626 197.995 261.246 213.5C204.134 152.402 89.2458 86 70.2458 92.5C54.2458 114 57.3639 236.342 82.2458 329.5C20.1313 393.812 -5.71105 462.056 26.2458 541.5C60.0354 625.501 126.246 644.5 229.246 653.5C282.712 681.005 316.246 700.5 385.246 700.5Z" stroke-width="17" stroke-linejoin="round"/>
  
      <g id="eyes" stroke-width="22">
          <path id="Right Eye" d="M458.246 385.5H521.246M577.246 385.5H521.246M521.246 385.5V497" />
          <path id="Left Eye" d="M179.746 385H242.746M298.746 385H242.746M242.746 385V496.5" />
      </g>
  
      <g id="whiskers" stroke-width="20">
          <path id="Left Whisker" d="M74.2458 449L154.246 462M72.7458 528.5L154.246 513" />
          <path id="Right Whisker" d="M684.246 449.5L604.246 462.5M685.746 529L604.246 513.5" />
      </g>
  
      <g id="mouth-nose">
          <path id="nose" d="M393.246 487.5H368.746L371.246 506.5L381.746 516L391.746 506.5L393.246 487.5Z" fill="black" stroke="none"/>
          <path id="mouth" d="M334.246 576C353.948 572.353 364.327 564.562 381.746 551.5M381.746 551.5C398.633 565.479 408.9 573.274 428.746 576M381.746 551.5V516M381.746 516L371.246 506.5L368.746 487.5H393.246L391.746 506.5L381.746 516Z" stroke-width="13" stroke-linejoin="round"/>
      </g>
  
      <path id="ear-lines" d="M83.0002 330.5C148.991 272.924 189.676 248.065 263.5 213.5M501.5 210C577.025 247.347 612.786 271.828 676.5 322.5" stroke-width="15" />
      
    </g>
  </svg>
</span>

<style>
  .logo-container {
    display: inline-block;
    cursor: pointer;
    /* Default colors if not overridden */
    stroke: currentColor;
    fill: none;
    transition: color 0.3s ease;
  }

  :global(.dark) .logo-container {
    color: rgb(var(--black));
  }

  .cat-logo {
    width: 100%;
    height: 100%;
    display: block;
    fill: inherit; /* Allows the balloon animation to work */
    color: rgb(var(--black));
  }

  /* Eye Interaction */
  .eye-pupil, .eye-lid {
    transition: transform 0.2s ease-in-out;
  }

  .eye-pupil {
    transform-box: fill-box;
    transform-origin: center;
  }

  .eye-lid {
    transform-box: view-box;
  }

  .logo-container:hover .eye-pupil {
    transform: scaleY(0);
  }

  .logo-container:hover .eye-lid {
    transform: translateY(5.5%);
  }
</style>