---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Cristian Valdez. All rights reserved.
	<div class="social-links">

		<a href="https://www.youtube.com/@takkotaco" target="_blank">
			<span class="sr-only">my youtube channel</span>
			<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32">
				<path
					fill="currentColor"
					d="M15.75 4.8s-.18-1.28-.73-1.83c-.6-.55-1.25-.55-1.56-.6C11.2 2.3 8 2.3 8 2.3s-3.2 0-5.46.07c-.3.05-.96.05-1.56.6C.43 3.52.25 4.8.25 4.8S.07 6.3.07 7.8v.4c0 1.5 0 3 .07 3s.18 1.28.73 1.83c.6.55 1.25.55 1.56.6C4.8 13.7 8 13.7 8 13.7s3.2 0 5.46-.07c.3-.05.96-.05 1.56-.6.55-.55.73-1.83.73-1.83S15.93 9.7 15.93 8.2v-.4c0-1.5 0-3-.07-3zM6.41 10.3V5.7l4.5 2.3-4.5 2.3z"
				></path>
			</svg>
		</a>

	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
