---
const { fluid = false } = Astro.props;
---

<span class:list={["translatable-text", { fluid }]}>
  <span data-lang-content="en" class="lang-en"><slot name="en" /></span>
  <span data-lang-content="ja" class="lang-ja hidden"><slot name="ja" /></span>
  <span data-lang-content="en_simple" class="lang-en_simple hidden"><slot name="en_simple" /></span>
</span>

<style is:global>
  .hidden {
    display: none;
  }

  .translatable-text {
    display: inline-grid;
    grid-template-columns: 100%;
    vertical-align: text-bottom;
    align-items: baseline;
  }
  .translatable-text.fluid {
    display: inline;
  }
  .translatable-text > span {
    grid-area: 1 / 1;
    width: 100%;
    transition: visibility 0s, opacity 0s !important; 
  }
  
  .translatable-text:not(.fluid) > .hidden {
    display: block;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
</style>