---
// src/components/T.astro

---

<span class="translatable-text">
  <span data-lang-content="en" class="lang-en"><slot name="en" /></span>
  <span data-lang-content="ja" class="lang-ja hidden"><slot name="ja" /></span>
  <span data-lang-content="en_simple" class="lang-en_simple hidden"><slot name="en_simple" /></span>
</span>

<style is:global>
  /* Simple style to hide elements. is:global makes it available everywhere */
  .hidden {
    display: none;
  }
</style>