---
const { fluid = false } = Astro.props;
---

<span class:list={["translatable-text", { fluid }]}>
  <span data-lang-content="en" class="lang-en"><slot name="en" /></span>
  <span data-lang-content="ja" class="lang-ja hidden"><slot name="ja" /></span>
  <span data-lang-content="en_simple" class="lang-en_simple hidden"><slot name="en_simple" /></span>
</span>

<style is:global>
  .hidden {
    display: none !important;
  }
</style>