---
// this component makes it so we can choose between different text versions from the mdx file. 
const { fluid = false } = Astro.props;
---

<span class:list={["translatable-text", { fluid }]}>
  <span data-lang-content="en" class="lang-en"><slot name="en" /></span>
  <span data-lang-content="ja" class="lang-ja hidden"><slot name="ja" /></span>
  <span data-lang-content="en_simple" class="lang-en_simple hidden"><slot name="en_simple" /></span>
</span>

<style is:global>
  /* Simple style to hide elements. is:global makes it available everywhere */
  .hidden {
    display: none;
  }

  /* Use inline-grid to stack translations on top of each other */
  .translatable-text {
    display: inline-grid;
  }
  .translatable-text.fluid {
    display: inline;
  }
  .translatable-text > span {
    grid-area: 1 / 1;
  }
  /* Override display: none so hidden elements still reserve space */
  /* Only apply when NOT in fluid mode */
  .translatable-text:not(.fluid) > .hidden {
    display: block;
    visibility: hidden;
  }
</style>